#set($layout = "default.vm")
<div class="container" style="margin: 50 auto 0 auto;width: 350px;">
    <form action="$linkKit.action("user/login")" _lpchecked="1" method="post">
        <div class="panel panel-default" style="margin: 50px auto 20px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;-webkit-box-shadow: 0 0 40px rgba(0,0,0,.3);
-moz-box-shadow: 0 0 40px rgba(0,0,0,.3);box-shadow: 0 0 40px rgba(0,0,0,.3);">
            <div class="panel-heading">

                <h2>
                    <i class="glyphicon glyphicon-heart"></i>
                    登录后台管理</h2>
            </div>
            <div class="panel-body">
                <div style="margin: 10px 0px;">
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        <input class="form-control input-lg" id="id_username" maxlength="254" name="user.username"
                               type="text" placeholder="用户名">
                    </div>
                </div>
                <div style="margin: 10px 0px;">
                    <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                        <input class="form-control input-lg" id="id_password" name="user.password" type="password"
                               placeholder="密码">
                    </div>
                </div>
                <div style="margin: 10px 0px;">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>