#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#set($key = $linkKit.param("s"))

#set($blogList = $searchKit.findBlogs($key,false,true,$page,$pageSize))

<div class="container" id="content">
    <div id="main" class="col-md-9 col-ld-9">
        #invoke("/WEB-INF/www/widget/bloglist.vm")
    </div>
    #invoke("/WEB-INF/www/widget/rightbar.vm")
</div>