#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#set($key = $linkKit.param("s"))

#set($blogList = $searchKit.findBlogs($key,false,true,$page,$pageSize))
#if(!$blogList)
<h2 class="text-center">找不到你想要的内容！</h2>
#else
    #invoke("/WEB-INF/www/widget/bloglist.vm")
#end