#set($layout = "admin.vm")
#set($sub_title = "添加外链")
#set($linkId = $linkKit.param("id",0))
#if($linkId > 0)
    #set($link = $linkTool.Get($linkId))
#end
<form class="form-horizontal" role="form" id="linkForm"
      action="#if($link) $linkKit.action("/link/updateLink") #else $linkKit.action("/link/addLink") #end" method="post">
    #if($link)
        <input type="hidden" name="link.id" value="$link.get("id")"/>
    #end
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">链接标题:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="title" name="link.title" placeholder="链接标题" #if($link)
                   value="$link.get("title")" #end>
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">链接描述:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="desc" name="link.desc" placeholder="链接描述" #if($link)
                   value="$link.get("desc")" #end>
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">链接地址:</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="url" name="link.url" placeholder="链接地址"  #if($link)
                   value="$link.get("url")" #end>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn btn-primary">
                #if($link)
                    更新
                #else
                    添加
                #end
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-danger">重置</button>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="alert" id="tip" style="display: none"></span>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('#linkForm').ajaxForm({
            beforeSubmit: function (args, form, fn) {
                var tip = form.find("#tip");
                var title = form.find("#title").val();
                var desc = form.find("#desc").val();
                var url = form.find("#url").val();
                if (title.length <= 0) {
                    tip.html("请填写外链标题!");
                    tip.removeClass("alert-success");
                    tip.addClass("alert-danger");
                    tip.show();
                    return false;
                }
                if (desc.length <= 0) {
                    tip.html("请填写外链描述!");
                    tip.removeClass("alert-success");
                    tip.addClass("alert-danger");
                    tip.show();
                    return false;
                }
                if (url.length <= 0) {
                    tip.html("请填写外链链接!");
                    tip.removeClass("alert-success");
                    tip.addClass("alert-danger");
                    tip.show();
                    return false;
                }
                tip.hide();
                return true;
            },
            success: function (msg, b, fn, form) {
                var tip = form.find("#tip");
                if (msg.msg) {
                    tip.html("操作成功！");
                    tip.removeClass("alert-danger");
                    tip.addClass("alert-success");
                    tip.show();
                } else {
                    tip.html("操作失败！");
                    tip.removeClass("alert-success");
                    tip.addClass("alert-danger");
                    tip.show();
                }

            },
            dataType: 'json',        // 'xml', 'script', or 'json' (expected server response type)
//            resetForm: true        // reset the form after successful submit
        });
    });
</script>