#set($layout = "admin.vm")
#set($sub_title = "外链列表")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
<span class="alert" id="tip" style="display: none;"></span>
<div class="results table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">标题</th>
            <th scope="col">描述</th>
            <th scope="col">链接地址</th>
            <th scope="col" style="width: 60px;">顺序</th>
            <th scope="col" style="width: 100px;">操作</th>
        </tr>
        </thead>
        <tbody>
            #set($linkList=$linkTool.linkList($page,$pageSize))
            #if($linkList.getTotalRow() > 0)
                #foreach($link in $linkList.getList())
                <tr id="tr$link.get("id")">
                    <td>$link.get("title")</td>
                    <td>$link.get("desc")</td>
                    <td>$link.get("url")</td>
                    <td>
                        <span class="glyphicon glyphicon-circle-arrow-up" style="color: red;margin-right: 10px;cursor: pointer;" onclick="upLink($link.get("id"))"></span>
                        <span class="glyphicon glyphicon-circle-arrow-down" style="color:green;cursor: pointer;" onclick="downLink($link.get("id"))"></span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" onclick="editObj($link.get("id"))">编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" onclick="delObj($link.get("id"))">删除
                        </button>
                    </td>
                </tr>
                #end
            #end
    </table>
</div>
<div class="pagination pagination-centered pagination-small">
    #pager("" $blogList)
</div>
<script type="text/javascript">
    function editObj(id) {
        window.location.href = "/admin/link/linkAdd?id=" + id;
    }

    function delObj(id) {
        if (confirm("确认是否需要删除？")) {
            var tip = $("#tip");
            tip.hide();
            $.ajax({
                type: "POST",
                url: "$linkKit.action("/link/delLink")",
                data: "id=" + id,
                success: function (data) {
                    if(data.msg) {
                        tip.html("操作成功！");
                        tip.removeClass("alert-danger");
                        tip.addClass("alert-success");
                        tip.animate({opacity:1},3000);
                        tip.css('display', 'block');
                        $("#tr" + id).hide("slow");
                    } else {
                        tip.html("操作失败！");
                        tip.removeClass("alert-success");
                        tip.addClass("alert-danger");
                        tip.animate({opacity:1},30000);
                        tip.css('display', 'block');
                    }
                }
            });
        }
    }

    function upLink(id) {
        $.ajax({
            type: "POST",
            url: "$linkKit.action("/link/upLink")",
            data: "id=" + id,
            success: function (data) {
                if(data.msg) {
                    window.location.reload();
                }
            }
        });
    }

    function downLink(id) {
        $.ajax({
            type: "POST",
            url: "$linkKit.action("/link/downLink")",
            data: "id=" + id,
            success: function (data) {
                if(data.msg) {
                    window.location.reload();
                }
            }
        });
    }
</script>