#set($layout = "admin.vm")
#set($sub_title = "分类列表")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
<span class="alert" id="tip" style="display: none;"></span>
<div class="results table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">类别名</th>
            <th scope="col">类别描述</th>
            <th scope="col">是否首页显示</th>
            <th scope="col" style="width: 100px;">操作</th>
        </tr>
        </thead>
        <tbody>
            #set($catalogList=$catalogTool.catalogList($page,$pageSize))
            #if($catalogList.getTotalRow() > 0)
                #foreach($catalog in $catalogList.getList())
                <tr id="tr$catalog.get("id")">
                    <td>$catalog.get("name")</td>
                    <td>$catalog.get("desc")</td>
                    <td>#if($catalog.get("flag") == 1)显示 #else 不显示#end</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" onclick="editObj($catalog.get("id"))">编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" onclick="delObj($catalog.get("id"))">删除
                        </button>
                    </td>
                </tr>
                #end
            #end
        </tbody>
    </table>
</div>
<div class="pagination pagination-centered pagination-small">
    #pager("" $catalogList)
</div>
<script type="text/javascript">
    function editObj(id) {
        window.location.href = "/admin/catalog/catalogAdd?id=" + id;
    }

    function delObj(id) {
        if (confirm("确认是否需要删除？")) {
            var tip = $("#tip");
            tip.hide();
            $.ajax({
                type: "POST",
                url: "$linkKit.action("/catalog/delCatalog")",
                data: "id=" + id,
                success: function (data) {
                    if (data.msg) {
                        tip.html("操作成功！");
                        tip.removeClass("alert-danger");
                        tip.addClass("alert-success");
                        tip.animate({opacity: 1}, 3000);
                        tip.css('display', 'block');
                        $("#tr" + id).hide("slow");
                    } else {
                        tip.html("操作失败！");
                        tip.removeClass("alert-success");
                        tip.addClass("alert-danger");
                        tip.animate({opacity: 1}, 30000);
                        tip.css('display', 'block');
                    }
                }
            });
        }
    }
</script>