<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F55fc1d16481edd44374b8b85e32b25df' type='text/javascript'%3E%3C/script%3E"));
</script>