#set($globalUrl = ${linkKit.urlPara()})
#set($blog=$blogTool.getByGlobalUrl($globalUrl))
#if($blog)
#set($title = $blog.get("title"))
<link href="$linkKit.static_res("ueditor/third-party/SyntaxHighlighter/shCoreDefault.css")"
      rel="stylesheet" type="text/css"/>
<script type="text/javascript"
        src="$linkKit.static_res("ueditor/third-party/SyntaxHighlighter/shCore.js")"></script>
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>
<script type="text/javascript" src="/action/blog/viewBlog?id=$blog.get("id")"></script>
<br>
<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li>
        <a href=$linkKit.catalog($catalogTool.Get($blog.getInt("catalog")).get("name")) title="$catalogTool.Get($blog.getInt("catalog")).get("desc")
        " rel="java tag">$catalogTool.Get($blog.getInt("catalog")).get("desc")</a>
    </li>
    <li class="active">正文</li>
</ol>
<div class="detail">
    <h2 class="under_line">
        <span>$blog.get("title")</span>
        <span class="badge">$blog.get("read_count")°C </span>
    </h2>

    <div class="info">
        分类：<a
            href=$linkKit.catalog($catalogTool.Get($blog.getInt("catalog")).get("name")) title="$catalogTool.Get($blog.getInt("catalog")).get("desc")
        " rel="java tag">$catalogTool.Get($blog.getInt("catalog")).get("desc")</a>
        #set($blogLabelList = $blogLabelTool.getBlogLabelByBlog($blog.getInt("id")))
        #if($blogLabelList)
            | 标签：
            #foreach($blogLabel in $blogLabelList)
                #if($velocityCount == 1)
                    #set($blogLabelArrayStr = $labelTool.Get($blogLabel.get("label_id")).get("desc"))
                #else
                    #set($blogLabelArrayStr = ","+$blogLabelArrayStr + $labelTool.Get($blogLabel.get("label_id")).get("desc"))
                #end
                <a href="$linkKit.label($labelTool.Get($blogLabel.get("label_id")).get("name"))"
                   rel="label">$labelTool.Get($blogLabel.get("label_id")).get("desc")</a>&nbsp;
            #end
        #end
        | 发布：$blog.get("update_time")
    </div>
    <br>

    <div class="detail">
        $blog.get("content")
        <br><br>

        <p class="pay">
            此文对我有价值，小额(无负担)赞助下^_^
            <a href="https://me.alipay.com/yidongnan" class="btn btn-primary"
               target="_blank">支付宝打赏</a>
        </p>
    </div>
    <br>
    <script type="text/javascript" id="wumiiRelatedItems"></script>
    <div class="row">
        #invoke("share.vm")
    </div>
    <br>
    #set($prevId = $blog.getInt("id") - 1)
    #set($nextId = $blog.getInt("id") + 1)
    #set($prevBlog = $blogTool.Get($prevId))
    #set($nextBlog = $blogTool.Get($nextId))


    <div class="box">
        【上一篇】
        #if($prevBlog)
            <a href="$prevBlog.get("global_url")">$prevBlog.get("title")</a>
        #else
            没有了
        #end
        <br>
        【下一篇】
        #if($nextBlog)
            <a href="$nextBlog.get("global_url")">$nextBlog.get("title")</a>
        #else
            没有了
        #end
    </div>
</div>
##    百度推荐
<div id="hm_t_21753"></div>
    #invoke("duoshuo.vm")
    $blog.get("global_url")
    #if($blogLabelList)
        #foreach($blogLabel in $blogLabelList)

        #end
    #end
##   无觅推荐
<script type="text/javascript">
    var wumiiPermaLink = "$blog.get("global_url")"; //请用代码生成文章永久的链接
    var wumiiTitle = "$blog.get("title")"; //请用代码生成文章标题
    var wumiiTags = "#if($blogLabelArrayStr)$blogLabelArrayStr#end"; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiCategories = ["$catalogTool.Get($blog.getInt("catalog")).get("desc")"]; //请用代码生成文章分类，分类名放在 JSONArray 中，如: ["分类1", "分类2"]
    var wumiiSitePrefix = "http://www.blinkcoder.com/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
<a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
    <img src="http://static.wumii.cn/images/pixel.png" alt="无觅关联推荐，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>
#else
##        重定向到404
#end