<div class="">
    其他分类：
    <ul class="nav nav-pills">
        #set($catalogList = $catalogTool.getHideCatalog())
        #if($catalogList && $catalogList.size() > 0)
            #foreach($catalog in $catalogList)
                <li><a href="$catalog.get("title")">$catalog.get("desc")</a></li>
            #end
        #end
    </ul>
</div>