<div class="col-lg-3 col-md-3 col-sm-12 clo-xs-12 .visible-md .visible-lg rightbar">
<div class="widget">
        <h3 class="under_line">关于博主</h3>
        <div class="textwidget">
            博主信息: <br/>Michael Chen<br/>
            一名大四学生。#*<a href="/about">更多信息</a>*#<br/>
            QQ：<a
                href="http://sighttp.qq.com/authd?IDKEY=e15e0901d77fceb13210303649205763bbb458bedf91d9a2"
                title="QQ交流">120776967</a><br/>
            QQ群：<a
                href="http://shang.qq.com/wpa/qunwpa?idkey=f1afc2fec9c10cf3ac4487be4deeb31bfb6a339c1c67aebbcb2656e8b27ddaf2"
                title="点击加入QQ群">312695705</a>
            <br>
            <br>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">开源项目</h3>
     <div>
         <ul class="links">
             <li><a href="https://github.com/yidongnan/BlinkCoder">极速开发网</a>
             </li>
         </ul>
     </div>
    </div>
    <div class="widget">
        <h3 class="under_line">最热文章</h3>

        <div>
            <ul class="links">
                #set($hotBlogList = $blogTool.hotBlogList(1,10))
                #if($hotBlogList.getTotalRow() > 0)
                    #foreach($blog in $hotBlogList.getList())
                        <li><a href="$linkKit.root($blog.get("global_url"))"
                               title="$blog.get("title")">$blog.get("title")</a>
                        </li>
                    #end
                #end
            </ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">最新评论</h3>
        <div>
            <ul class="ds-recent-comments" style="padding-left: 0px;" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="20"></ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">最近访客</h3>
        <div>
            <ul class="ds-recent-visitors" style="padding-left: 0px;" data-num-items="10"></ul>
        </div>
    </div>
    <div class="widget">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 右侧 200*200 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:200px;height:200px"
         data-ad-client="ca-pub-8417687790092876"
         data-ad-slot="8972248348"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <div class="widget">
        <h3 class="under_line">外链列表</h3>
        <div>
            <ul class="links">
                #set($linkList = $linkTool.getAllLink())
                #if($linkList && $linkList.size() > 0)
                    #foreach($link in $linkList)
                        <li><a href="$link.get("url")" title="$link.get("desc")">$link.get("title")</a></li>
                    #end
                #end
            </ul>
        </div>
    </div>
</div>