<div class="col-md-3 col-ld-3 rightbar" style="float: right">
    <div class="widget">
        <h3 class="under_line">关于博主</h3>
        <div class="textwidget">
            <br>
            <br>
            博主信息: <br/>Michael Chen<br/>
            一名大四学生。#*<a href="/about">更多信息</a>*#<br/>
            Email: <a href="mailto:yidongnan@gmail.com" rel="external">yidongnan@gmail.com</a><br/>
            源码交流群：312695705
            <br>
            <br>
        </div>
    </div>
#* <div class="widget">
     <h3 class="under_line">开源项目</h3>

     <div>
         <ul class="links">
             <li><a href="#">1111111</a></li>
             <li><a href="#">1111111</a></li>
         </ul>
     </div>
 </div>*#
    <div class="widget">
        <h3 class="under_line">最热文章</h3>

        <div>
            <ul class="links">
                #set($hotBlogList = $blogTool.hotBlogList(1,10))
                #if($hotBlogList.getTotalRow() > 0)
                    #foreach($blog in $hotBlogList.getList())
                        <li><a href="$blog.get("global_url")" title="$blog.get("title")">$blog.get("title")</a></li>
                    #end
                #end
            </ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">最新评论</h3>
        <div>
            <ul class="ds-recent-comments" style="padding-left: 0px;" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="20"></ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">最近访客</h3>
        <div>
            <ul class="ds-recent-visitors" style="padding-left: 0px;" data-num-items="10"></ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="under_line">外链列表</h3>
        <div>
            <ul class="links">
                #set($linkList = $linkTool.getAllLink())
                #if($linkList && $linkList.size() > 0)
                    #foreach($link in $linkList)
                        <li><a href="$link.get("url")" title="$link.get("desc")">$link.get("title")</a></li>
                    #end
                #end
            </ul>
        </div>
    </div>
#*<div class="widget">
    <h3 class="under_line">最新评论</h3>

    <div>
        <ul class="links">
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
            <li><a href="#">1111111</a></li>
        </ul>
    </div>
</div>*#
</div>