<div class="bs-callout bs-callout-info">
    分享到：
    <ul class="nav nav-pills">
        <li><a target="blank"
               href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tsina&amp;url=$linkKit.root($blog.get("global_url"))&amp;title=$blog.get("title")">新浪微博</a>
        </li>
        <li><a target="blank"
               href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=tqq&amp;url=$blog.get("global_url")&amp;title=$blog.get("title")">腾讯微博</a>
        </li>
        <li><a target="blank"
               href="http://s.evernote.com/grclip?url=$blog.get("global_url")&amp;title=$blog.get("title")">印象笔记</a>
        </li>
        <li><a target="blank"
               href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=douban&amp;url=$blog.get("global_url")&amp;title=$blog.get("title")">豆瓣</a>
        </li>
        <li><a target="blank"
               href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=renren&amp;url=$blog.get("global_url")&amp;title=$blog.get("title")">人人网</a>
        </li>
        <li><a target="blank"
               href="http://share.baidu.com/s?type=text&amp;searchPic=0&amp;sign=on&amp;to=qzone&amp;url=http://www.the5fire.com/mac-ternimal-tree-command.html&amp;title=mac终端中显示tree的命令">QQ空间</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="mailto:?subject=[the5fire]好文分享：mac终端中显示tree的命令&amp;body=http://www.the5fire.com/mac-ternimal-tree-command.html">E-Mail</a>
        </li>
    </ul>
</div>