#set($layout = "admin.vm")
#set($sub_title = "文章列表")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
<script type="text/javascript">
    function editObj(id) {
        window.location.href = "/admin/blog/blogPub?id=" + id;
    }

    function delObj(id) {
        if (confirm("确认是否需要删除？")) {
            var tip = $("#tip");
            tip.hide();
            $.ajax({
                type: "POST",
                url: "$linkKit.action("/blog/delBlog")",
                data: "id=" + id,
                success: function (data) {
                    if (data.msg) {
                        tip.html("操作成功！");
                        tip.removeClass("alert-danger");
                        tip.addClass("alert-success");
                        tip.animate({opacity: 1}, 3000);
                        tip.css('display', 'block');
                        $("#tr" + id).hide("slow");
                    } else {
                        tip.html("操作失败！");
                        tip.removeClass("alert-success");
                        tip.addClass("alert-danger");
                        tip.animate({opacity: 1}, 30000);
                        tip.css('display', 'block');
                    }
                }
            });
        }
    }
</script>
<span class="alert" id="tip" style="display: none;"></span>
<div class="results table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">标题</th>
            <th scope="col">个性链接</th>
            <th scope="col" width="70px">类别</th>
            <th scope="col" width="500px">正文</th>
            <th scope="col" width="100px">操作</th>
        </tr>
        </thead>
        <tbody>
            #set($blogList=$blogTool.topAndNormalBlogList($page,$pageSize))
            #if($blogList.getTotalRow() > 0)
                #foreach($blog in $blogList.getList())
                <tr style="font-size:12px;" id="tr$blog.get("id")">
                    <td>$blog.get("title")</td>
                    <td>$blog.get("global_url")</td>
                    <td>$catalogTool.Get($blog.get("catalog")).get("desc")</td>
                    <td>$formatKit.abbreviate($formatKit.plain_text($blog.content()),40)</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs"
                                onclick="editObj($blog.get("id"))">编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                onclick="delObj($blog.get("id"))">删除
                        </button>
                    </td>
                </tr>
                #end
            #end
        </tbody>
    </table>
</div>
<div class="pagination pagination-centered pagination-small">
    #pager("" $blogList)
</div>