body {
    font-family: Microsoft YaHei, Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.head {
    text-align: left;
}

.head p {
    font-size: 15px;
}

.info {
    color: #999;
}

.container {
}

.under_line {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
}

.widget .links {
    list-style: none;
    padding-left: 0px;
}

.widget ul .links li a {
    color: #2a6496;
    display: block;
}

.menu {
    margin-top: 0px;
    margin-bottom: 0px;
}

.wumii-footer{
    display: none;
}

#backtotop {
    height: 50px;
    position: fixed;
    bottom: 55px;
    right: -60px;
    z-index: 9999;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#backtotop.showme {
    right: 12px;
    -moz-transform: scale(1) rotate(-360deg) translate(0px);
    -webkit-transform: scale(1) rotate(-360deg) translate(0px);
    -o-transform: scale(1) rotate(-360deg) translate(0px);
    transform: scale(1) rotate(-360deg) translate(0px);
}

#backtotop .bttbg {
    width: 50px;
    height: 50px;
    background: url(http://blinkcoder-static.qiniudn.com/img/top_button.png) no-repeat 0 0;
}

#backtotop .bttbg:hover {
    background-position: left bottom;
}

.detail img{
    max-width: 100%;
}

blockquote {
    border-left-width: 10px;
    background-color: rgba(102, 128, 153, 0.1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px 20px
}

blockquote p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.428571429
}

#ds-recent-comments li.ds-comment {
    border-top: 0;
}