#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#if($linkKit.param("p1"))
    #invoke("widget/blogdetail.vm")
#else
    #set($blogList=$blogTool.topAndNormalBlogList($page,$pageSize))
    #invoke("widget/bloglist.vm")
#end