#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#set($urlLabel = $linkKit.param("p1"))
#set($tag = $labelTool.getByName($urlLabel))
#set($_title = $tag.get("desc"))
#set($_keys = $tag.get("name")+"/"+$tag.get("desc"))
#set($blogList=$blogTool.normalByTagBlogList($tag.get("id"),$page,$pageSize))
#invoke("/WEB-INF/www/widget/bloglist.vm")