<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="$linkKit.cloud_res("bootstrap/assets/ico/favicon.png")">

    <title>极速开发网</title>
    <link href="$linkKit.cloud_res("bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="$linkKit.cloud_res("css/global.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="$linkKit.cloud_res("bootstrap/assets/js/html5shiv.js")"></script>
    <script src="$linkKit.cloud_res("bootstrap/assets/js/respond.min.js")"></script>
    <![endif]-->
</head>

<body>
    $screen_content

<!-- Bootstrap core JavaeScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="$linkKit.cloud_res("js/jquery.min.js")"></script>
<script src="$linkKit.cloud_res("bootstrap/dist/js/bootstrap.min.js")"></script>

</body>
</html>
