#set($catalogList = ${catalogTool.getShowCatalog()})
#set($urlPara = $linkKit.urlPara())


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="#if($_title) $_title #else 极速开发网 www.blinkcoder.com 是用Java开发的一个开源博客，代码精简。Java初学者能迅速在这基础上搭建属于自己的个人博客#end"  />
    <meta name="keywords" content="#if($_keys) $_keys #else 开源博客,BlinkCoder,开源JAVA博客,Java博客,开源代码,极速编程,极速开发,快速开发,JFinal博客#end"/>

    <meta name="author" content="Michael Chen">
    <link rel="shortcut icon" href="$linkKit.cloud_res("bootstrap/assets/ico/favicon.png")">

    <title>#if($_title) $_title -#end 极速开发网</title>
    <link href="$linkKit.cloud_res("bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="$linkKit.cloud_res("css/global.css")" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="$linkKit.cloud_res("bootstrap/assets/js/html5shiv.js")"></script>
    <script src="$linkKit.cloud_res("bootstrap/assets/js/respond.min.js")"></script>
    <![endif]-->
    <script src="$linkKit.cloud_res("js/jquery.min.js")"></script>
</head>

<body>
<header class="navbar navbar-inverse navbar-static-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blink Coder</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                #foreach($catalog in $catalogList)
                    #if($catalog)
                        <li #if($linkKit.is_catalog_list() && $urlPara == ${catalog.get('name')}) class="active" #end>
                            <a href="$linkKit.catalog($catalog.get('name'))" rel="tag">$catalog.get('desc')</a></li>
                    #end
                #end

            </ul>
            <form class="top-search-form navbar-form navbar-right" method="get" action="/">
                <input type="text" class="form-control" name="s" id="s" style="width: 200px;">
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
</header>
<div class="head">
    <div class="container">
        <h1>Michael Chen的技术博客</h1>

        <p class="under_line">关注java、linux、web开发和互联网--</p>

    </div>
</div>
    $screen_content
<div style="clear: both"></div>
    #invoke("../www/widget/footer.vm")

<!-- Bootstrap core JavaeScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="$linkKit.cloud_res("bootstrap/dist/js/bootstrap.min.js")"></script>
#invoke("../www/widget/duoshuo.vm")


<script>
    $(function () {
        if ($("#footer").length > 0) {
            $("body").append('<div id="backtotop"><div class="bttbg"></div></div>');
            initGoToTop()
        }
    });
    function initGoToTop() {
        var b = jQuery("#footer").position().top - jQuery(window).height() - 200;
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 100) {
                    jQuery("#backtotop").addClass("showme")
                } else {
                    jQuery("#backtotop").removeClass("showme")
                }
            });
            jQuery("#backtotop").click(function () {
                jQuery("body,html").animate({scrollTop: 0}, 400);
                return false
            })
        });
        if (jQuery(window).scrollTop() == 0) {
            jQuery("#backtotop").removeClass("showme")
        } else {
            jQuery("#backtotop").addClass("showme")
        }
    }
</script>
</body>
</html>
