<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="#if($_title) $_title #else 极速开发网 www.blinkcoder.com 是用Java开发的一个开源博客，代码精简。Java初学者能迅速在这基础上搭建属于自己的个人博客#end"/>
    <meta name="keywords"
          content="#if($_keys) $_keys #else 开源博客,BlinkCoder,开源JAVA博客,Java博客,开源代码,极速编程,极速开发,快速开发,JFinal博客，JFinal#end"/>
    <meta name="author" content="Michael Chen">
    <meta name="google-site-verification" content="Kn-8HLAZgyAJRIdCqRZ5QiAz0oiBfNsFSrmfgzGZ0Q4"/>
    <link rel="shortcut icon" href="$linkKit.cloud_res("img/favicon.png")">
    <title>#if($_title) $_title -#end 极速开发网</title>

    <link href="$linkKit.cloud_res("bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <link href="$linkKit.cloud_res("css/global.css")" rel="stylesheet">

    <script src="$linkKit.cloud_res("js/jquery.min.js")"></script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">极速开发网</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
            #* <li><a href="/about">关于</a>
             </li>*#
                <li><a href="https://github.com/yidongnan/BlinkCoder">Fork On GitHub</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                #if($g_user)
                    <li class="dropdown ng-scope">
                        <a href="javascript:void(0)" class="dropdown-toggle ng-binding" data-toggle="dropdown"
                           style="padding: 10px 10px 10px 10px">
                        <img class="img-rounded" style="height: 30px; width: 30px" src="$g_user.picture">
                            $g_user.username
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="$linkKit.action("user/logout")"><i class="glyphicon glyphicon-off"></i>注销</a></li>
                        </ul>
                    </li>
                #else
                    <li>
                        <a href="$linkKit.action("user/login")"
                           style="background: url($linkKit.cloud_res("img/google.png")) no-repeat;background-color:#DF4B31;color:white;padding-left:30px;background-size:30px 30px;margin-top: 10px;height: 30px;line-height: 0;display:block;">
                            使用 Google 帐号登录
                        </a>
                    </li>
                #end

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="col-lg-8">
            $screen_content
        </div>

        <div class="col-lg-4">
            <div class="well">
                <h4>搜索</h4>

                <form action="/search/" method="GET">
                    <div class="input-group">
                        <input type="text" name="s" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </div>
                </form>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>分类列表</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            #set($catalogList = ${catalogTool.getShowCatalog()})
                            #foreach($catalog in $catalogList)
                                #if($velocityCount % 2 == 1)
                                    <li><a href="$catalog.url()" rel="tag"
                                           title="$catalog.get('desc')">$catalog.get('desc')</a></li>
                                #end
                            #end
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            #foreach($catalog in $catalogList)
                                #if($velocityCount % 2 == 0)
                                    <li><a href="$catalog.url()" rel="tag"
                                           title="$catalog.get('desc')">$catalog.get('desc')</a></li>
                                #end
                            #end
                        </ul>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4 class="under_line">热门文章</h4>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            #set($hotBlogList = $blogTool.hotBlogList(1,10))
                            #if($hotBlogList.getTotalRow() > 0)
                                #foreach($blog in $hotBlogList.getList())
                                    <li><a href="$linkKit.root($blog.get("global_url"))"
                                           title="$blog.get("title")">$blog.get("title")</a>
                                    </li>
                                #end
                            #end
                        </ul>
                    </div>
                </div>
            </div>
            <div class="well">
                <h4>最新评论</h4>

                <div>
                    <ul class="ds-recent-comments" style="padding-left: 0px;" data-num-items="10" data-show-avatars="1"
                        data-show-time="1" data-show-admin="1" data-excerpt-length="20"></ul>
                </div>
            </div>
            <div class="well">
                <h4 class="under_line">最近访客</h4>

                <div>
                    <ul class="ds-recent-visitors" style="padding-left: 0px;" data-num-items="16"></ul>
                </div>
            </div>
            <div class="well">
                <h4 class="under_line">外链列表</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            #set($linkList = $linkTool.getAllLink())
                            #if($linkList && $linkList.size() > 0)
                                #foreach($link in $linkList)
                                    #if($velocityCount % 2 == 1)
                                        <li><a href="$link.get("url")" target="_blank" title="$link.get("desc")">$link.get("title")</a>
                                        </li>
                                    #end
                                #end
                            #end
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            #if($linkList && $linkList.size() > 0)
                                #foreach($link in $linkList)
                                    #if($velocityCount % 2 == 0)
                                        <li><a href="$link.get("url")" target="_blank" title="$link.get("desc")">$link.get("title")</a>
                                        </li>
                                    #end
                                #end
                            #end
                        </ul>
                    </div>
                </div>
            </div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 自适应 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8417687790092876"
                 data-ad-slot="9594259944"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

    <hr>

</div>
<!-- /.container -->
    #invoke("../www/widget/footer.vm")
</body>
</html>

<!-- JavaScript -->
<script src="$linkKit.cloud_res("bootstrap/dist/js/bootstrap.min.js")"></script>
<script>
    $(function () {
        if ($("#footer").length > 0) {
            $("body").append('<div id="backtotop"><div class="bttbg"></div></div>');
            initGoToTop()
        }
    });
    function initGoToTop() {
        var b = jQuery("#footer").position().top - jQuery(window).height() - 200;
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 100) {
                    jQuery("#backtotop").addClass("showme")
                } else {
                    jQuery("#backtotop").removeClass("showme")
                }
            });
            jQuery("#backtotop").click(function () {
                jQuery("body,html").animate({scrollTop: 0}, 400);
                return false
            })
        });
        if (jQuery(window).scrollTop() == 0) {
            jQuery("#backtotop").removeClass("showme")
        } else {
            jQuery("#backtotop").addClass("showme")
        }
    }
</script>
#invoke("../www/widget/duoshuo.vm")
