#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#set($urlCatalog = $linkKit.param("p1"))
#set($catalog = $catalogTool.getByName($urlCatalog))
#set($blogList=$blogTool.normalByCatalogBlogList($catalog.get("id"),$page,$pageSize))
<div class="container" id="content">
    <div id="main" class="col-md-9 col-ld-9">
        #invoke("/WEB-INF/www/widget/bloglist.vm")
    </div>
    #invoke("/WEB-INF/www/widget/rightbar.vm")
</div>