#set($layout = "index.vm")
#set($page = $linkKit.param("p",1))
#set($pageSize = 10)
#set($urlCatalog = $linkKit.param("p1"))
#set($catalog = $catalogTool.getByName($urlCatalog))
#set($_title = $catalog.get("desc"))
#set($_keys = $catalog.get("name")+"/"+$catalog.get("desc"))
#set($blogList=$blogTool.normalByCatalogBlogList($catalog.get("id"),$page,$pageSize))
#invoke("/WEB-INF/www/widget/bloglist.vm")